<!DOCTYPE html>
<html>
    <head>

       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <link rel="stylesheet" type="text/css" href="./css/style1.css" />
        <style>
            body {
                        width: 100%;
                        /* height: 400px; */
                        margin: 0;
                        padding: 0;
                        /* height: 100vh; */
                        background-image: url("./img/bgm.jpg");
                        background-repeat: no-repeat;
                        background-size: cover;
                     }
        </style>
        <title>Home</title>
    </head>
    <body>
        
          <div class="container container_content mt-5 mb-5">
              <img src="img/phone.png" class="img-fluid" style="height:100vh;">
                <div class="row justify-content-center p-2">
               <div  id="buttom">        
                    <center><a href='./cam' class="btn btn-info" role="button">Let's Do This</a></center>
                </div>  
            </div> 
            </div>
       
     
        
    </body>
</html>